
body{
  background: grey;
}


h1 {
  background: #0045a2;
  text-align: center;
}

/* Debut du menu  */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.menuOne {
    background-color: #060606;
}
.barOne {
  position: fixed !important;
}
/* fin du menu  */

.insertOne {
  width: 100px;
  margin: 0 auto;
}
 /* Formulaire create */
.form-taille {
    width: 130% !important;
}
 /* formulaire update */
.form-taille-update {
  width: 160% !important;
}
/* footer */
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footerMenu{
  background: #b5b5b5;
}

.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}

.imageDoc {
  width: 15%;
  margin: 0 auto;

}

/* Card Contact */
.card {
    margin: 0 auto !important;
}

.contactForm{
  margin: 0 auto !important;
}


/* Bonus */
.bonus {
  width: 25%;
  margin: 0 auto;
}
